<!DOCTYPE html>
<html>
<head>
  <style>
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 50px 25px;
    }
    .container-fluid {
      padding: 60px 50px
    }
    .highlight{
      color:#0073b1;
    }
  </style>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="jumbotron text-center collapse show">
    <h1>SymptomAI</h1>
    <p>Get your symptoms checked by AI</p>
  </div>
  <div class="container-fluid text-center">
    <h2>Please enter your <span class="highlight">Email</span> and <span class="highlight">Name</span></h2>
    <!-- Divider -->
    <div style="width: 100%; height: 5vh"></div>
    <!-- Divider -->
    <form>
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
      </div>
      <input type="email" class="form-control" placeholder="Enter your email">
    </div>
    <div class="input-group mb-5">
      <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
      </div>
      <input type="text" class="form-control" placeholder="Enter your name">
    </div>
    <center>
      <button type="submit" class="btn btn-primary">Submit</button>
    </center>
  </form>
  </div>
</body>
</html>